.main {
    /* Styles for the main container */
}

.main__header {
    background-color: #173aff;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.main__header h1 {
    color: white;
    font-size: 20px;
}

.main__container {
    /* Styles for the container */
}

.main__container h2 {
    /* Styles for the heading */
}

.main__container p {
    font-size: 20px;
}

.main__container a {
    /* Styles for the link */
}

.main__container div {
    font-size: 18px;
}

